#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  items.delete_if { |item| item[:publish] == false }

  copy_static
  create_tag_pages
  #add_update_item_attributes
end

compile '/' do
  filter :kramdown
  layout 'main'
end

compile '/atom.xml' do
  filter :erb
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  elsif item[:extension] == 'md'
    filter :kramdown
    layout 'default'
  else
    filter :haml
    layout 'default'
  end
  # layout 'default' unless item[:layout] == "none"
end

route '/atom.xml' do
  item.identifier.chop
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    if item.identifier == '/'
      item.identifier + 'index.html'
    else
      item.identifier.chop + '.html'
    end
  end
end

layout '*', :haml
