---
---
%ul.tag-page
  - items_with_tag(tag).each do |item|
    %li
      %h3
        - url = "#{route_path(item)}"
        %a(href="#{url}" title="Full article" class="permalink")= "&laquo; #{item[:title]}"
